force-app/main/default/flows/eventsignup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetBeer</name>
        <label>Get Beer</label>
        <locationX>548</locationX>
        <locationY>519</locationY>
        <actionName>BeerAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CreateContact</targetReference>
        </connector>
        <inputParameters>
            <name>venueId</name>
            <value>
                <elementReference>VenueId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>topBeer</assignToReference>
            <name>topBeer</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>AskForBeer</name>
        <label>AskForBeer</label>
        <locationX>182</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>flow_ask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Do you like beer?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flow_askTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>likeBeer</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AskForName</name>
        <label>AskForName</label>
        <locationX>252</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>flow_ask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please let us know your name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flow_askTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>userName</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SayDone</name>
        <label>SayDone</label>
        <locationX>1000</locationX>
        <locationY>410</locationY>
        <assignmentItems>
            <assignToReference>flow_say</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You are signed up to {!EventSubject}. See you down the pub for a pint of {!topBeer}.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SayNoEvent</name>
        <label>SayNoEvent</label>
        <locationX>694</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>flow_say</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sorry no beer related events at this moment</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetDescribe</name>
        <label>SetDescribe</label>
        <locationX>65</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>flow_describe</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>userName,likeBeer</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>EventFound</name>
        <label>Event Found</label>
        <locationX>699</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>SayNoEvent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HasEvent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GetBeer</targetReference>
            </connector>
            <label>Has Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasDescribe</name>
        <label>HasDescribe</label>
        <locationX>168</locationX>
        <locationY>89</locationY>
        <defaultConnector>
            <targetReference>SetDescribe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>GivenDescribe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flow_describe</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>HasGivenBeer</targetReference>
            </connector>
            <label>GivenDescribe</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasGivenBeer</name>
        <label>HasGivenBeer</label>
        <locationX>304</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>AskForBeer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>GivenBeer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>likeBeer</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>HasGIvenName</targetReference>
            </connector>
            <label>GivenBeer</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasGIvenName</name>
        <label>HasGIvenName</label>
        <locationX>409</locationX>
        <locationY>315</locationY>
        <defaultConnector>
            <targetReference>AskForName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>GivenName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userName</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>FindEvent</targetReference>
            </connector>
            <label>GivenName</label>
        </rules>
    </decisions>
    <interviewLabel>eventsignup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Signup</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateContact</name>
        <label>Contact</label>
        <locationX>702</locationX>
        <locationY>522</locationY>
        <assignRecordIdToReference>ContactId</assignRecordIdToReference>
        <connector>
            <targetReference>EventRelation</targetReference>
        </connector>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>userName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>flow_ctx</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>EventRelation</name>
        <label>Event Relation</label>
        <locationX>856</locationX>
        <locationY>520</locationY>
        <connector>
            <targetReference>SignupEvent</targetReference>
        </connector>
        <inputAssignments>
            <field>EventId</field>
            <value>
                <elementReference>EventId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsInvitee</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsParent</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>EventRelation</object>
    </recordCreates>
    <recordCreates>
        <name>SignupEvent</name>
        <label>SignupEvent</label>
        <locationX>1004</locationX>
        <locationY>520</locationY>
        <connector>
            <targetReference>SayDone</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventId__c</field>
            <value>
                <elementReference>EventId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Great news! {!userName} just registered for your event {!EventSubject}.</stringValue>
            </value>
        </inputAssignments>
        <object>EventSignup__e</object>
    </recordCreates>
    <recordLookups>
        <name>FindEvent</name>
        <label>Find Event</label>
        <locationX>537</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EventFound</targetReference>
        </connector>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Beer</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>EventId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EventSubject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VenueId</assignToReference>
            <field>UntappedVenueId__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>HasDescribe</startElementReference>
    <status>Active</status>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Please let us know your name</description>
        <name>flow_ask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flow_askTarget</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flow_ctx</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flow_describe</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flow_say</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>likeBeer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>topBeer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VenueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
